@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-card{
  perspective: 1000px;
}
.flip-card-inner{
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back{
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back{
  transform: rotateY(180deg);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  height:100vh;
  background: linear-gradient(135deg, #9c3ab7, #000000);
  /* overflow: hidden; */
}
